--Constraints

--PRIMARY KEY CONSTRAINTS
----------------------------------
CREATE TABLE STUDENT_INFO1
(
STUDENT_ID VARCHAR(10) PRIMARY KEY,
STUDENT_NAME VARCHAR(20),
ADDRESS VARCHAR(20)
);

CREATE TABLE STUDENT_INFO2
(
STUDENT_ID VARCHAR(10),
STUDENT_NAME VARCHAR(20),
ADDRESS VARCHAR(20),
CONSTRAINT PRIMARY KEY (STUDENT_ID)
);

CREATE TABLE STUDENT_INFO3
(
STUDENT_ID VARCHAR(10),
STUDENT_NAME VARCHAR(20),
ADDRESS VARCHAR(20),
CONSTRAINT STUDENT_INFO3_PK PRIMARY KEY (STUDENT_ID)
);

CREATE TABLE STUDENT_INFO3
(
STUDENT_ID VARCHAR(10),
STUDENT_NAME VARCHAR(20),
ADDRESS VARCHAR(20),
CONSTRAINT STUDENT_INFO3_PK PRIMARY KEY (STUDENT_ID,STUDENT_NAME)
);


ALTER TABLE STUDENT_INFO ADD PRIMARY KEY(STUDENT_ID);
ALTER TABLE TRIAL ADD CONSTRAINT pk PRIMARY KEY(code);
ALTER table employee drop primary key;
--------------------------------------------------------------------------------
FOREIGN KEY CONSTRAINTS--

CREATE TABLE Student_Courses_type1(
 STUDENT_ID VARCHAR(10), 
  COURSE_CODE VARCHAR(20),
 CONSTRAINT Student_Courses_Student_ID FOREIGN KEY(STUDENT_ID) REFERENCES Student_Info(STUDENT_ID),
 CONSTRAINT Student_Courses_Course_Code FOREIGN KEY(COURSE_CODE) REFERENCES Course_Info(COURSE_CODE));

CREATE TABLE Student_Courses_type2(
  STUDENT_ID VARCHAR(10) , 
  COURSE_CODE VARCHAR(20),
  FOREIGN KEY(STUDENT_ID) REFERENCES Student_Info(STUDENT_ID),
  FOREIGN KEY(COURSE_CODE) REFERENCES Course_Info(COURSE_CODE));

CREATE TABLE Student_Courses_type3(
 STUDENT_ID VARCHAR(10) , 
 COURSE_CODE VARCHAR(20),
  CONSTRAINT sctsid FOREIGN KEY(STUDENT_ID) REFERENCES Student_Info(STUDENT_ID) ON UPDATE CASCADE ON DELETE CASCADE,
  CONSTRAINT sctcc FOREIGN KEY(COURSE_CODE) REFERENCES Course_Info(COURSE_CODE) ON UPDATE CASCADE ON DELETE CASCADE);

CREATE TABLE Student_Courses_type4(
 STUDENT_ID VARCHAR(10) , 
 COURSE_CODE VARCHAR(20),
   FOREIGN KEY(STUDENT_ID) REFERENCES Student_Info(STUDENT_ID) ON UPDATE CASCADE ON DELETE CASCADE,
   FOREIGN KEY(COURSE_CODE) REFERENCES Course_Info(COURSE_CODE) ON UPDATE CASCADE ON DELETE CASCADE);



CREATE TABLE Student_Courses(
 STUDENT_ID VARCHAR(10)  CONSTRAINT fk references Student_Info(STUDENT_ID),
  COURSE_CODE VARCHAR(20),
   CONSTRAINT Student_Courses_Course_Code FOREIGN KEY(COURSE_CODE) REFERENCES Course_Info(COURSE_CODE));


CREATE TABLE Student_Courses(
 STUDENT_ID VARCHAR(10)  CONSTRAINT fk references Student_Info(STUDENT_ID),
  COURSE_CODE VARCHAR(20),
   FOREIGN KEY(COURSE_CODE) REFERENCES Course_Info(COURSE_CODE));

ALTER TABLE my_table ADD CONSTRAINT my_key FOREIGN KEY 
('some_id') 
REFERENCES some_new_table ('some_other_id') ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE Student_Courses DROP FOREIGN KEY fk ;
--------------------------------------------------------------
UNIQUE KEY CONSTRAINT


CREATE TABLE TRIAL1
(code VARCHAR(10),
NAME VARCHAR(10) UNIQUE

);

CREATE TABLE TRIAL2
(code VARCHAR(10),
NAME VARCHAR(10),
UNIQUE KEY(name)
);

CREATE TABLE TRIAL3
(code VARCHAR(10),
NAME VARCHAR(10),
UNIQUE (name)
);

CREATE TABLE TRIAL4
(code VARCHAR(10),
NAME VARCHAR(10),
CONSTRAINT unique_key UNIQUE (code)
);

CREATE TABLE TRIAL5
(code VARCHAR(10),
NAME VARCHAR(10),
CONSTRAINT unique_key UNIQUE KEY (code)
);


alter table employee add unique key (code);
alter table employee add unique (code);
SHOW INDEX FROM employee;
ALTER TABLE employee DROP INDEX code;
-------------------------------------------------
CHECK CONSTRAINT

CREATE TABLE employee1
(
  code VARCHAR(5) PRIMARY KEY,
  basic NUMBER(10) check (basic>10000),
 );

CREATE TABLE employee2
(
  code VARCHAR(5) PRIMARY KEY,
  basic NUMBER(10) check (basic>10000),
  desig VARCHAR(10) check (desig IN('MGr','AsstMgr'))
);


CREATE TABLE employee2
(
  code VARCHAR(5) PRIMARY KEY,
  basic NUMBER(10), 
  desig VARCHAR(10),
 CONSTRAINT chk1 check (basic>10000), 
 CONSTRAINT chk2 check (desig IN('MGr','AsstMgr'))
);

----------------------------------------
SEQUENCE

CREATE TABLE book (
     id  INT(3) PRIMARY KEY AUTO_INCREMENT,
     name CHAR(30) NOT NULL);
 INSERT INTO book(name) values('Complete Ref Java'); 

ALTER TABLE book AUTO_INCREMENT=100;
-------------------------------------------------------
CREATE TABLE person
 (
   code VARCHAR(10) PRIMARY KEY,
   name VARCHAR(20) 

 ) 

ALTER TABLE Person MODIFY name VARCHAR(20) NOT NULL;
SET FOREIGN_KEY_CHECKS=0;
SET FOREIGN_KEY_CHECKS=1;
